<!DOCTYPE html>
<html>
  <head>
    <title>Assignment2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<h1><%= link_to 'Home', new_order_path %></h1>
    <%= yield %>
    <%= link_to 'New order', new_order_path %>
    <%= link_to 'List of orders', orders_path %>
  </body>
</html>
